extends ../layout

block content
    h3= author.first_name + " " + author.last_name

    div
        p Date of birth: #{author.dob}

        a.button(href=`/authors/edit/${author.id}`) Edit Author

    div.author-books
        h4 Books Published:
        each book in author.books
            p #{book.title}
            a.button(href=`/books/profile/${book.id}`) View Book
